.mv,.mv0,.mv00 { transition: transform 0.2s ease-in-out; }
.mv:hover,mv0:hover,mv00:hover { transition-property: transform; transition-duration: 0.2s; animation: none; transform: scale(1.7); cursor:pointer;}
.mv0:hover { transform: scale(1.1); }
.mv00:hover { transform: scale(1.05); }

DIALOG {
      background-color: white;
      border: 0px; /*unset;*/
      border-radius: 8px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
      min-width: 400px;
      max-width: 90%;
      EEEtext-align: center;
}

::backdrop {
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  opacity: 0.75;
}




    .modal-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1000;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s ease;
    }

    .modal-content {
      background-color: white;
      EEEEEEEpadding: 20px;
      border-radius: 8px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      width: 400px;
      max-width: 100%;
      text-align: center;
    }

.modal-top {
    margin-top:16px;
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
    position: relative;
    background-color: #fff;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 16px;
    gap: 32px;
    text-align: left;
    font-size: 16px;
    color: #000;
    font-family: Inter;
}

.modal-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 16px 0;
    z-index: 0;
}

.modal-close {
    width: 38px;
    position: absolute;
    margin: 0 !important;
    top: 0; /*16px;*/
    right: 16px;
    font-size: 14px;
    line-height: 130%;
    font-weight: 500;
    color: #356bff;
    text-align: right;
    display: inline-block;
    z-index: 1;
}

/*
    <div class="modal-top">
            <div class="modal-item">Default Title</div>
            <div class="modal-close mv0" onclick="modal_close()">Close</div>
    </div>
    <div class="modal-item">
	</div>

*/

/*

    :host([opened]) .modal-overlay {
      opacity: 1;
      pointer-events: auto;
    }

*/