.EEEEEEEEEwrapper {
    margin-top: 10px;
    border-radius: 999px;
    background-color: #ffc935;
    width: 20px;
    height: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2px 8px;
    box-sizing: border-box;
}
